@import url('_partials/reset.css');
@import url('_partials/variables.css');
@import url('_partials/common.css');
@import url('_partials/typo.css');

/* #region BODY */

body {
  height: 100vh;
}

/* #endregion */

/* #region HEADER */

.row.menu {
  display: flex;
  height: calc(100vh - 90px);
}

.row.menu nav {
  background-color: var(--header-color);
  width: 50px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  flex-shrink: 0;
}

.row.menu nav #small-logo {
  margin-top: 5px;
}

.row.menu nav #logo {
  margin-top: 20px;
}

.row.menu nav .logo {
  padding: 5px 10px;
  margin-bottom: 15px;
}

.row.menu nav h2 {
  font-size: 0.875rem;
}

.row.menu nav ul li {
  margin-bottom: 22px;
}

.row.menu nav ul li:not(:first) {
  overflow: auto;
}

.row.menu nav img:not(:last-child) {
  margin-bottom: 17px;
}

.row.menu nav .home,
.row.menu nav .cerca,
.row.menu nav .tua-libreria {
  margin-bottom: 15px;
  padding: 0 10px;
}

.row.menu nav .download {
  margin-top: auto;
}

.row.menu nav .playlist,
.row.menu nav .bottom-content {
  padding: 10px;
}

.row.menu nav .bottom-content {
  margin-top: auto;
}

.row.menu nav .download {
  text-align: center;
}

.row.menu nav .rounded {
  width: 26px;
  height: 26px;
  overflow: hidden;
}

.row.menu nav .rounded img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #808080;
  border-radius: 50%;
}

.row.menu nav .download img:first-child {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-bottom: 20px;
}

/* #endregion */

/* #region MAIN */

main {
  background-color: var(--main-color);
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 90px;
}

main .top-bar {
  position: fixed;
  top: 0;
  right: 0;
  left: 50px;
  z-index: 1;
  height: 90px;
  background-color: rgba(0, 0, 0, 0.5);
  text-align: end;
}

main .menu {
  margin-top: 22px;
}

main .menu ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

main .menu ul li {
  list-style: none;
  margin-right: 25px;
  font-size: 14px;
  margin-bottom: 45px;
}

main .menu ul li a {
  text-decoration: none;
  color: var(--main-text-color);
}

main .menu ul li:first-child {
  padding-bottom: 5px;
  position: relative;
}

/* BORDO SOTTO AL PRIMO ELEMENTO DELLA LISTA */
main .menu ul li:first-child::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 30px;
  height: 3px;
  background-color: greenyellow;
  transform: translate(-50%);
}

main .top-bar .btn {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 30px;
  color: #fff;
  padding: 15px 40px;
  font-weight: bold;
  cursor: pointer;
  margin: 20px 20px 20px 0;
}

main .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 30px;
}

main .row .col {
  width: calc(100% / 2 - 25px);
  text-align: center;
}

main .row .col h3 {
  margin-top: 20px;
}

main .row .col div {
  margin-bottom: 10px;
}

main .main-content {
  padding: 20px;
  color: var(--white-color);
}

main .main-content h3 {
  margin-bottom: 12px;
}

main .main-content .row > div > div {
  color: var(--main-text-color);
}

main .second-content h2,
main .third-content h2 {
  margin-bottom: 12px;
}

main .second-content,
main .third-content {
  margin-top: 45px;
}

main .third-content img {
  border-radius: 50%;
}

/* #endregion */

/* #region FOOTER */

footer {
  background-color: var(--footer-color);
  height: 90px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

footer {
  display: flex;
  justify-content: space-between;
}

footer i {
  font-size: large;
}

footer .left-content,
footer .right-content {
  width: 30%;
}

footer .left-content {
  display: flex;
  align-items: center;
}

footer .left-content img {
  width: 42px;
  height: 42px;
  margin: 0 11px 0;
}

footer .left-content .text {
  color: var(--white-color);
}

footer .left-content .text > div {
  font-size: small;
}

footer .right-content {
  text-align: end;
}

footer .icons {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

footer .central-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--white-color);
  width: 40%;
}

footer .central-content .top-content {
  margin-bottom: 15px;
}

footer .bottom-content {
  display: flex;
  align-items: center;
  height: 19px;
}

footer .left-bar {
  width: 26px;
  height: 4px;
  background-color: var(--white-color);
  margin-left: 10px;
  border-radius: 20px 0 0 20px;
}

footer .right-bar {
  width: 100px;
  height: 4px;
  background-color: var(--main-text-color);
  margin-right: 10px;
  border-radius: 0 20px 20px 0;
}

footer .right-content {
  display: flex;
  align-items: center;
  justify-content: end;
}

footer .left-content i,
footer .central-content i,
footer .right-content i {
  color: var(--white-color);
}

footer .right-content i {
  margin-right: 18px;
}

footer .btn {
  all: unset;
  cursor: pointer;
}

/* #endregion */

/* #region MEDIA QUERIES */

/* s */
@media screen and (min-width: 576px) {
  .display-none {
    display: block;
  }

  .playlist.display-none {
    display: flex;
    flex-direction: column;
  }

  /* NAV */

  #small-logo {
    display: none;
  }

  #logo {
    max-width: 130px;
  }

  .row.menu nav {
    width: 230px;
  }

  .row.menu nav .home {
    border-left: 3px solid greenyellow;
  }

  .row.menu nav .home,
  .row.menu nav .cerca,
  .row.menu nav .tua-libreria,
  .row.menu nav .download,
  .row.menu nav .profile {
    display: flex;
  }

  .row.menu nav .home img,
  .row.menu nav .cerca img,
  .row.menu nav .tua-libreria img,
  .row.menu nav .bottom-content img {
    max-width: 20px;
  }

  .row.menu nav .home img,
  .row.menu nav .cerca img,
  .row.menu nav .tua-libreria img {
    width: 100%;
  }

  .row.menu nav span,
  .row.menu nav strong,
  .row.menu nav h2,
  .row.menu nav a {
    color: var(--white-color);
  }

  .row.menu nav .scroll {
    overflow-y: auto;
    margin-top: 20px;
    min-height: 100px;
  }

  .row.menu nav i {
    color: var(--header-color);
    padding: 10px;
    background-color: #808080;
    margin-right: 10px;
  }

  .row.menu nav img {
    margin-right: 8px;
  }

  .row.menu nav hr {
    margin: 10px 0 15px 0;
  }

  .row.menu nav span,
  .row.menu nav strong,
  .row.menu nav a {
    color: var(--main-text-color);
  }

  .row.menu nav .download img:first-child {
    margin-bottom: 0;
  }

  .row.menu nav .download,
  .row.menu nav .profile {
    align-items: center;
  }

  .row.menu nav .download img,
  .row.menu nav .profile img {
    margin-bottom: 0;
  }

  .row.menu nav .profile strong {
    color: var(--white-color);
  }

  .row.menu nav h2 {
    margin: 30px 0 15px 0;
  }

  .row.menu nav a {
    text-decoration: none;
  }

  .row.menu nav .rounded {
    height: auto;
  }

  .row.menu nav .playlist {
    flex-grow: 1;
    overflow: hidden;
  }

  /* MAIN */
  main .top-bar {
    left: 230px;
  }

  /* FOOTER */
  footer .left-content .icons {
    gap: 7px;
  }

  footer .icons {
    margin-left: 25px;
  }
}

/* md */
@media screen and (min-width: 768px) {
  main .row .col {
    width: calc(100% / 4 - 25px);
  }

  footer .icons {
    flex-direction: row;
  }
}

/* l */
@media screen and (min-width: 992px) {
  main .row .col {
    width: calc(100% / 6 - 25px);
  }

  footer .icons {
    margin-left: 43px;
  }
}

/* #endregion */
