@import url('_partials/reset.css');
@import url('_partials/variables.css');
@import url('_partials/common.css');
@import url('_partials/typo.css');

/* #region HEADER */

.row.menu {
  display: flex;
}

.row.menu nav {
  background-color: var(--header-color);
  height: calc(100vh - 90px);
  width: 50px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.row.menu nav .top-content {
  display: flex;
  flex-direction: column;
}

.row.menu nav .logo {
  padding: 5px 10px;
}

.row.menu nav .top-content,
.row.menu nav h2 {
  font-size: 0.875rem;
}

.row.menu nav ul li {
  margin-bottom: 22px;
}

.row.menu nav ul li:not(:first) {
  overflow: auto;
}

.row.menu nav img:not(:last-child) {
  margin-bottom: 17px;
}

.row.menu nav .home,
.row.menu nav .cerca,
.row.menu nav .tua-libreria {
  margin-bottom: 15px;
  padding: 0 10px;
}

.row.menu nav .download {
  margin-top: auot;
}

.row.menu nav .playlist,
.row.menu nav .bottom-content {
  padding: 10px;
}

.row.menu nav .bottom-content {
  margin-top: auto;
}

.row.menu nav .rounded {
  width: 26px;
  height: 26px;
  overflow: hidden;
}

.row.menu nav .download {
  text-align: center;
}

.row.menu nav .rounded img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #808080;
  border-radius: 50%;
}

.row.menu nav .download img:first-child {
  width: 12px;
  height: 12px;
  display: inline-block;
  margin-bottom: 20px;
}

/* #endregion */

/* #region MAIN */

/* #endregion */

/* #region FOOTER */

footer {
  background-color: var(--footer-color);
  height: 90px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

/* #endregion */

/* #region MEDIA QUERIES */

@media screen and (min-width: 576px) {
  .display-none {
    display: block;
  }

  .playlist.display-none {
    display: flex;
    flex-direction: column;
  }

  #small-logo {
    display: none;
  }

  #logo {
    max-width: 130px;
  }

  .row.menu nav {
    width: 230px;
  }

  .row.menu nav .home {
    border-left: 3px solid greenyellow;
  }

  .row.menu nav .home,
  .row.menu nav .cerca,
  .row.menu nav .tua-libreria,
  .row.menu nav .download,
  .row.menu nav .profile {
    display: flex;
  }

  .row.menu nav .home img,
  .row.menu nav .cerca img,
  .row.menu nav .tua-libreria img,
  .row.menu nav .bottom-content img {
    max-width: 20px;
  }

  .row.menu nav .home img,
  .row.menu nav .cerca img,
  .row.menu nav .tua-libreria img {
    width: 100%;
  }

  .row.menu nav span,
  .row.menu nav strong,
  .row.menu nav h2,
  .row.menu nav a {
    color: var(--white-color);
  }

  .row.menu nav .scroll {
    overflow-y: auto;
    margin-top: 20px;
    min-height: 100px;
  }

  .row.menu nav i {
    color: var(--header-color);
    padding: 10px;
    background-color: #808080;
    margin-right: 10px;
  }

  .row.menu nav img {
    margin-right: 8px;
  }

  .row.menu nav hr {
    margin: 10px 0 15px 0;
  }

  .row.menu nav span,
  .row.menu nav strong,
  .row.menu nav a {
    color: var(--main-text-color);
  }

  .row.menu nav .download img:first-child {
    margin-bottom: 0;
  }

  .row.menu nav .download,
  .row.menu nav .profile {
    align-items: center;
  }

  .row.menu nav .download img,
  .row.menu nav .profile img {
    margin-bottom: 0;
  }

  .row.menu nav .profile strong {
    color: var(--white-color);
  }

  .row.menu nav h2 {
    margin: 30px 0 15px 0;
  }

  .row.menu nav a {
    text-decoration: none;
  }

  .row.menu nav .rounded {
    height: auto;
  }

  .row.menu nav .playlist {
    min-height: 100px;
    flex-grow: 1;
    overflow: hidden;
  }
}
/* #endregion */
